@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind.css";

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Inter", sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;

  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}